body{
    margin:0;
}
#root{
    margin: 0;
    padding: 0;
    height:100vh ;
    width: 100vw;
}
.flexcontainer{
    display: grid;
    
}
.formdiv{
    align-self: center;
    /* padding-left: 2rem; */
    display: flex;
    flex-direction: column;
    width: 35rem;
    & h1{
        margin-bottom: 0.5rem;
    }
    & div{
        margin: 0.2rem;
        border-radius: 25px;
    }
    & button{
        margin: 0.2rem;
    }
    & img {
        margin-left: 1rem;
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        border: 2px solid black;
    }
    & .selected{
        border:2px solid red;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }
}
#cart{
    display: grid;
    grid-template-columns: 1fr 40vw;
    grid-template-rows: auto 1fr;
    height: 100vh;
    & #searchbar{
        grid-column: 1/span 2;
    }
}
#homepage{
    display: grid;
    grid-template-columns: 20rem 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    & #searchbar{
        grid-column: 1/span 2;
    }
    & #itemList{
        padding: 1rem;
        display: flex;
        overflow-y: auto;
        flex-wrap: wrap;
        gap: 1rem;
        overflow-y: auto;
        & .MuiPaper-root{
            width: 15rem;
            height: 23rem;
            & .MuiButtonBase-root{
                height: 20rem;
                & .MuiCardMedia-root{
                    object-fit: contain;
                    height: 15rem;
                }
                & .MuiCardContent-root{
                    height: 5rem;
                    padding: 0;
                }
            }
            & .MuiCardActions-root{
                justify-content: space-around;
                height: 3rem;
                padding: 0;
                & button{
                    height: 100%;
                }
            }
        }
    }
}
#additem{
    text-align: center;
    #formGrid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.6fr 0.6fr 1fr;
        justify-items: center;
        & .MuiFilledInput-root,.ant-upload-wrapper{
            width: 60rem;
        }
        & .ant-upload-list-item-container,.ant-upload{
            margin: 2rem;
        }
    }
}
#productdetail{
    display: grid;
    grid-template-columns: 40vw 60vw;
    grid-template-rows: auto 1fr;
    height: 100vh;
    & #searchbar{
        grid-column: 1/span 2;
    }
    & #usercarousal{
        justify-self: center;
        align-content: center;
        display: grid;
        gap: 1rem;
        grid-template-columns: 7.5rem 7.5rem 7.5rem 7.5rem;
        grid-template-rows: 22.5rem 7.5rem;
        & .mainpic{
            grid-column: 1/span 4;
            height: 22.5rem;
            width: 33rem;
            border: 2px groove black;
        }
        & .thumbpic{
            border: 1px solid black;
            height: 7.5rem;
            width: 7.5rem;
        }
    }
    & #productSpecs{
        overflow-y: auto;
       & #specsCard{
        border-radius: 15px;
        border: 1px solid black;
       }
       
    }
}